<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Inspius. All rights reserved.
 * Author: Phong Nguyen
 * Author URI: http://inspius.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Inspius_Iscommerce::config_icymobi" title="IcyMobi settings" module="Inspius_Iscommerce" sortOrder="60" action="adminhtml/system_config/edit/section/icymobi_config" resource="Inspius_Iscommerce::config_icymobi"/>
    </menu>
</config>
